<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>0xc0f1a670</integer>
	<integer>0x321fbd34</integer>
	<integer>0x5519c473</integer>
	<integer>0x538935d0</integer>
	<integer>0x94fb06d6</integer>
	<integer>0x36ec51b6</integer>
	<integer>0x25bb1c44</integer>
	<integer>0x253b1410</integer>
	<integer>0xc60c0cab</integer>
	<integer>0x05b2538b</integer>
	<integer>0x253b12d5</integer>
	<integer>0xa2f3f613</integer>
	<integer>0x253b164f</integer>
	<integer>0x51d1a5ee</integer>
	<integer>0x5f551c95</integer>
	<integer>0x94fb43f0</integer>
	<integer>0x904cef42</integer>
	<integer>0x5d54726a</integer>
	<integer>0x5cde03ca</integer>
	<integer>0x94fb58f5</integer>
	<integer>0x904c7658</integer>
	<integer>0x5fd3a049</integer>
	<integer>0xa2f3d473</integer>
	<integer>0x50454d6f</integer>
	<integer>0x323ed5bc</integer>
	<integer>0x904c9aee</integer>
	<integer>0x5fd37de7</integer>
	<integer>0x55195c77</integer>
	<integer>0xc063f1a4</integer>
	<integer>0x253b180f</integer>
	<integer>0x05275346</integer>
	<integer>0x253b0026</integer>
	<integer>0x53957d4f</integer>
	<integer>0xc632f220</integer>
	<integer>0x4e2ebdca</integer>
	<integer>0x253054c2</integer>
	<integer>0x6baa60c5</integer>
	<integer>0xccf6436a</integer>
	<integer>0x25bb841c</integer>
	<integer>0x8e04d020</integer>
	<integer>0xc0632458</integer>
	<integer>0x904c0849</integer>
	<integer>0x253b14df</integer>
	<integer>0x266dda72</integer>
	<integer>0x5d735cd1</integer>
	<integer>0xb0091fb2</integer>
	<integer>0x94fb394b</integer>
	<integer>0x55d6c727</integer>
	<integer>0xa2f3cfcc</integer>
	<integer>0xbce2acd5</integer>
	<integer>0x3248b4f0</integer>
	<integer>0x8e04dba6</integer>
	<integer>0xbce2ef98</integer>
	<integer>0xd4538aa8</integer>
	<integer>0x50f081dd</integer>
	<integer>0x052d4b06</integer>
	<integer>0x55c704e4</integer>
	<integer>0xb23f0e15</integer>
	<integer>0x5f5534b9</integer>
	<integer>0x515ae1f5</integer>
	<integer>0x321e2f26</integer>
	<integer>0xbca5fc17</integer>
	<integer>0x6baa6e6a</integer>
	<integer>0xb9319257</integer>
	<integer>0xd4712326</integer>
	<integer>0x25cd0a8c</integer>
	<integer>0x4c4ab2d0</integer>
	<integer>0x5bb9ba3d</integer>
	<integer>0xb23f3c83</integer>
	<integer>0x36d5e653</integer>
	<integer>0xd5c85eab</integer>
	<integer>0x5777dec1</integer>
	<integer>0x3f8ef0f1</integer>
	<integer>0x50f95488</integer>
	<integer>0xc61b437e</integer>
	<integer>0x505a2bcd</integer>
	<integer>0x4160c1a5</integer>
	<integer>0x47af512d</integer>
	<integer>0xc1967925</integer>
	<integer>0x6abb267d</integer>
	<integer>0x252235f9</integer>
	<integer>0x42fe7d62</integer>
	<integer>0xcbc3940c</integer>
	<integer>0x6baadbac</integer>
	<integer>0xbca5df56</integer>
	<integer>0x94642036</integer>
	<integer>0xa2d86432</integer>
	<integer>0x6abb5fe8</integer>
	<integer>0x5e64d712</integer>
	<integer>0x5abf7c7d</integer>
	<integer>0x4356356a</integer>
	<integer>0xc60f7ff2</integer>
	<integer>0x57ecc3d9</integer>
	<integer>0x5cf267ab</integer>
	<integer>0xa2f3518a</integer>
	<integer>0x775142e5</integer>
	<integer>0x5dbd91a5</integer>
	<integer>0x94fb29a5</integer>
	<integer>0x4e6bfe79</integer>
	<integer>0xa2fb6c42</integer>
	<integer>0x5dbd91af</integer>
	<integer>0xc6c7678a</integer>
	<integer>0xd944a80f</integer>
	<integer>0xd919f14d</integer>
	<integer>0x5e6526e2</integer>
	<integer>0xa2f330c8</integer>
	<integer>0x5e171abb</integer>
	<integer>0x5e17ce8c</integer>
	<integer>0x47a2af65</integer>
	<integer>0xad3fe5c4</integer>
	<integer>0x4df07003</integer>
	<integer>0x6c3d5324</integer>
	<integer>0x48331cce</integer>
	<integer>0x32743168</integer>
	<integer>0xd4321b14</integer>
	<integer>0x253b1325</integer>
	<integer>0x52c04088</integer>
	<integer>0x48f92927</integer>
	<integer>0x731d1152</integer>
	<integer>0xd9c4f86a</integer>
	<integer>0xbc283344</integer>
	<integer>0x5b5a42d1</integer>
	<integer>0xc1e9902c</integer>
	<integer>0x58b95278</integer>
	<integer>0x642ae025</integer>
	<integer>0x05c40369</integer>
	<integer>0xc063c311</integer>
	<integer>0x904caf8b</integer>
	<integer>0x470d4ac3</integer>
	<integer>0x4acfe1aa</integer>
	<integer>0x05ff476c</integer>
	<integer>0x6baac850</integer>
	<integer>0x707c4700</integer>
	<integer>0x59df29ca</integer>
	<integer>0x17e2e90c</integer>
	<integer>0x05876ccc</integer>
	<integer>0x904ce1e4</integer>
	<integer>0x5e715d8b</integer>
	<integer>0xb0090013</integer>
	<integer>0x8e04d114</integer>
	<integer>0x54f01fb8</integer>
	<integer>0x5dbf85f5</integer>
	<integer>0x3ed2ac32</integer>
	<integer>0xa2de1749</integer>
	<integer>0xc0630d4a</integer>
	<integer>0x4e2e29b2</integer>
	<integer>0x7d272183</integer>
	<integer>0x722119ad</integer>
	<integer>0x5cdeb40f</integer>
	<integer>0x5faa5637</integer>
	<integer>0x731d27a1</integer>
	<integer>0x77f64734</integer>
	<integer>0x253b1293</integer>
	<integer>0x43aad40f</integer>
	<integer>0xadffc63c</integer>
	<integer>0xd588497d</integer>
	<integer>0xc6d36985</integer>
	<integer>0x1759c82e</integer>
	<integer>0x4e6c833e</integer>
	<integer>0x0ec6707d</integer>
	<integer>0xdea7f620</integer>
	<integer>0x7b965c5a</integer>
	<integer>0x43c2ed40</integer>
	<integer>0x05e401e6</integer>
	<integer>0x52f7c89d</integer>
	<integer>0x731dc4b6</integer>
	<integer>0x5519d689</integer>
	<integer>0xbca5d9e2</integer>
	<integer>0x7909e365</integer>
	<integer>0x44c24102</integer>
	<integer>0x6c457015</integer>
	<integer>0x6abb619d</integer>
	<integer>0x411e2f74</integer>
	<integer>0x6b0afbd0</integer>
	<integer>0x44021b0b</integer>
	<integer>0xae3317e0</integer>
	<integer>0x36c9b76a</integer>
	<integer>0x731db850</integer>
	<integer>0x329e964b</integer>
	<integer>0xd447eb72</integer>
	<integer>0x42b2b623</integer>
	<integer>0x59b8533c</integer>
	<integer>0x50445aa1</integer>
	<integer>0xa6460814</integer>
	<integer>0x4b721b21</integer>
	<integer>0x253b1b54</integer>
	<integer>0x94fb1306</integer>
	<integer>0x7d2d5e97</integer>
	<integer>0xb8a6444d</integer>
	<integer>0x050995b1</integer>
	<integer>0x364d8fac</integer>
	<integer>0xc6f53356</integer>
	<integer>0xc09b54b5</integer>
	<integer>0xdc871692</integer>
	<integer>0x2e6960be</integer>
	<integer>0xb29b56e2</integer>
	<integer>0x3ed2526a</integer>
	<integer>0xd45394c3</integer>
	<integer>0xd453bb32</integer>
	<integer>0xbc8a21ef</integer>
	<integer>0xb01ff62b</integer>
	<integer>0xb9341a22</integer>
	<integer>0x558ba384</integer>
	<integer>0x68837ed3</integer>
	<integer>0x45a4de09</integer>
	<integer>0x4b8152a3</integer>
	<integer>0x32f763ad</integer>
	<integer>0x4270d1a2</integer>
	<integer>0xc00368ab</integer>
	<integer>0x25bb9c7a</integer>
	<integer>0x18be23bd</integer>
	<integer>0x6abb5ec1</integer>
	<integer>0x95d29f56</integer>
	<integer>0x6c331456</integer>
	<integer>0x5b792531</integer>
	<integer>0x3ead8b3a</integer>
	<integer>0x48fdcc75</integer>
	<integer>0x4df54e02</integer>
	<integer>0x4e9c7e1e</integer>
	<integer>0xc6f53dad</integer>
	<integer>0x422c84b3</integer>
	<integer>0xbca5e733</integer>
	<integer>0x416e00f2</integer>
	<integer>0x5518c082</integer>
	<integer>0x5fd3b2a4</integer>
	<integer>0xb2202927</integer>
	<integer>0x6426205b</integer>
	<integer>0x8259a2cd</integer>
	<integer>0x416e00f4</integer>
	<integer>0xae3306fe</integer>
	<integer>0x416e13f3</integer>
	<integer>0xd52e5e48</integer>
	<integer>0x4b98d1ef</integer>
	<integer>0x4e2e42c4</integer>
	<integer>0x485a4e4e</integer>
	<integer>0x451c5edd</integer>
	<integer>0xbc8a7d30</integer>
	<integer>0xb01f801c</integer>
	<integer>0xbce3fa31</integer>
	<integer>0x4097d00f</integer>
	<integer>0x5265f6ec</integer>
	<integer>0x257baa0b</integer>
	<integer>0xacfbde63</integer>
	<integer>0x73b36403</integer>
	<integer>0xb6fe91d1</integer>
	<integer>0x54022268</integer>
	<integer>0x2a790379</integer>
	<integer>0xad5f8bff</integer>
	<integer>0xc371cd1d</integer>
	<integer>0x2e1ccecc</integer>
	<integer>0x05097b8c</integer>
	<integer>0x4e2fe4d2</integer>
	<integer>0x4decbe55</integer>
	<integer>0xa2f863a4</integer>
	<integer>0xbca5cc38</integer>
	<integer>0xad17a62f</integer>
	<integer>0x50b1dd4c</integer>
	<integer>0xb926f8b5</integer>
	<integer>0x364c7b50</integer>
	<integer>0xb2ac2ab1</integer>
	<integer>0x2eda0f2d</integer>
	<integer>0x05878cb3</integer>
	<integer>0x52e297f1</integer>
	<integer>0xad313a39</integer>
	<integer>0x18b21770</integer>
	<integer>0x475d0b09</integer>
	<integer>0x47592e92</integer>
	<integer>0x0c177faf</integer>
	<integer>0x175c419b</integer>
	<integer>0xa2f3de40</integer>
	<integer>0xdf12fe37</integer>
	<integer>0x60360cd6</integer>
	<integer>0x5519d679</integer>
	<integer>0xc6f53caa</integer>
	<integer>0x4ec20ed9</integer>
	<integer>0x4c5ec9b9</integer>
	<integer>0x4584cb67</integer>
	<integer>0x616b844e</integer>
	<integer>0x5f553f1f</integer>
	<integer>0x25bb476c</integer>
	<integer>0xa2fb6c35</integer>
	<integer>0x731c4cc4</integer>
	<integer>0xade6960b</integer>
	<integer>0x616b8db1</integer>
	<integer>0x36c5f044</integer>
	<integer>0x46bb0555</integer>
	<integer>0x80c7a460</integer>
	<integer>0x60231b2e</integer>
	<integer>0xd447fb69</integer>
	<integer>0x54d0ca46</integer>
	<integer>0x2ea5cc1b</integer>
	<integer>0x43f2bd8d</integer>
	<integer>0x3cbf6488</integer>
	<integer>0x3cbf6484</integer>
	<integer>0x6c332803</integer>
	<integer>0x485ba433</integer>
	<integer>0xc063c316</integer>
	<integer>0x4c16d745</integer>
	<integer>0x2ea6a167</integer>
	<integer>0x4df9b28a</integer>
	<integer>0xd4123297</integer>
	<integer>0x4e8c91ee</integer>
	<integer>0xde4af736</integer>
	<integer>0xd97ac12e</integer>
	<integer>0x43a04ddb</integer>
	<integer>0x6883a052</integer>
	<integer>0x47b2d126</integer>
	<integer>0xd5e9a016</integer>
	<integer>0x18cb666e</integer>
	<integer>0x6baa9432</integer>
	<integer>0x58d0004f</integer>
	<integer>0x47edb4da</integer>
	<integer>0x5ef2fa3a</integer>
	<integer>0x2e1cc944</integer>
	<integer>0x58d00095</integer>
	<integer>0xae47704b</integer>
	<integer>0x32a8e6d8</integer>
	<integer>0x5dbd91b0</integer>
	<integer>0x328c6731</integer>
	<integer>0xa2f3fb24</integer>
	<integer>0x3d23e113</integer>
	<integer>0x36bb3982</integer>
	<integer>0xc1fde767</integer>
	<integer>0xa5e19551</integer>
	<integer>0x5d4aa3ea</integer>
	<integer>0x4497385a</integer>
	<integer>0xdb71f434</integer>
	<integer>0x5e17fde4</integer>
	<integer>0x4b810a58</integer>
	<integer>0x516bc8cb</integer>
	<integer>0x6c06a83b</integer>
	<integer>0x2e697c56</integer>
	<integer>0x59ec3175</integer>
	<integer>0x7b019dbd</integer>
	<integer>0xc7bd6fa4</integer>
	<integer>0xc079a6f0</integer>
	<integer>0xc61b50a2</integer>
	<integer>0xb86b8b3a</integer>
	<integer>0x5457790b</integer>
	<integer>0x64096b69</integer>
	<integer>0x0e12f3e9</integer>
	<integer>0xb0091d4c</integer>
	<integer>0x62a921cb</integer>
	<integer>0x731ca163</integer>
	<integer>0x0e12f3ea</integer>
	<integer>0x0587bd7c</integer>
	<integer>0xc045d9ca</integer>
	<integer>0x369494c0</integer>
	<integer>0x472c6002</integer>
	<integer>0xb937353f</integer>
	<integer>0x68835385</integer>
	<integer>0x5b790613</integer>
	<integer>0x59121c15</integer>
	<integer>0x750682e9</integer>
	<integer>0x42afdcd4</integer>
	<integer>0x58558553</integer>
	<integer>0x4c7dc87c</integer>
	<integer>0xc39a0f92</integer>
	<integer>0x488061aa</integer>
	<integer>0x5e1710c3</integer>
	<integer>0x5f1f0c75</integer>
	<integer>0x364dfd4a</integer>
	<integer>0x6b962114</integer>
	<integer>0x7928c4ed</integer>
	<integer>0x62acb266</integer>
	<integer>0x82c0db39</integer>
	<integer>0x5576e4a2</integer>
	<integer>0xd8fa8ae6</integer>
	<integer>0x60fc444b</integer>
	<integer>0xae7e9b52</integer>
	<integer>0xc0636fef</integer>
	<integer>0xd02b4fea</integer>
	<integer>0x5fd3b495</integer>
	<integer>0x54d5d24e</integer>
	<integer>0x46419185</integer>
	<integer>0x18a03bf2</integer>
	<integer>0xad365fc0</integer>
	<integer>0x67f3b482</integer>
	<integer>0x51a9af7e</integer>
	<integer>0x581affc6</integer>
	<integer>0x42ac6850</integer>
	<integer>0x49ac1e8b</integer>
	<integer>0x5ead977b</integer>
	<integer>0xc617e6fd</integer>
	<integer>0x175f6792</integer>
	<integer>0x4ad0e168</integer>
	<integer>0x607e60ad</integer>
	<integer>0x5877c344</integer>
	<integer>0x52e715d1</integer>
	<integer>0x18f648ee</integer>
	<integer>0xb93e538a</integer>
	<integer>0x63e88c1a</integer>
	<integer>0x2e1cccc1</integer>
	<integer>0x2e1cccc2</integer>
	<integer>0x18f74087</integer>
	<integer>0x796b16a4</integer>
	<integer>0x4e464994</integer>
	<integer>0x5fd3de65</integer>
	<integer>0xae385a11</integer>
	<integer>0x5e173181</integer>
	<integer>0x4a6441a5</integer>
	<integer>0x1818be5a</integer>
	<integer>0x4b44345f</integer>
	<integer>0x5bcdc342</integer>
	<integer>0x470fb756</integer>
	<integer>0x7cbfee96</integer>
	<integer>0x44681fd7</integer>
	<integer>0x49084ea8</integer>
	<integer>0x2eadbe32</integer>
	<integer>0x46243874</integer>
	<integer>0xb2d9ba7d</integer>
	<integer>0xae0009ba</integer>
	<integer>0x181778fc</integer>
	<integer>0xb23ee2e4</integer>
	<integer>0x4a60ef7a</integer>
	<integer>0xc063b783</integer>
	<integer>0x43d45ca7</integer>
	<integer>0x2e1ccd43</integer>
	<integer>0xc18ad513</integer>
	<integer>0xb23e3ab6</integer>
	<integer>0x470a59d7</integer>
	<integer>0x60e2548b</integer>
	<integer>0x48406b4d</integer>
	<integer>0x7a12735b</integer>
	<integer>0xae3c473d</integer>
	<integer>0x68e623f6</integer>
	<integer>0x97ec240c</integer>
	<integer>0x46742712</integer>
	<integer>0xbce2ab86</integer>
	<integer>0xb220620c</integer>
	<integer>0xd91c4a5b</integer>
	<integer>0xb0c59386</integer>
	<integer>0xb231d021</integer>
	<integer>0x561852a8</integer>
	<integer>0x4b8b0ac8</integer>
	<integer>0x25bb1b04</integer>
	<integer>0x52093cd1</integer>
	<integer>0x682895d7</integer>
	<integer>0x8e36b50a</integer>
	<integer>0x6baac207</integer>
	<integer>0x3294d75f</integer>
	<integer>0x42c74804</integer>
	<integer>0x48090f27</integer>
	<integer>0x74376720</integer>
	<integer>0x5db3fcaa</integer>
	<integer>0xb0098a71</integer>
	<integer>0xa2f3eb0a</integer>
	<integer>0x18e01254</integer>
	<integer>0xa2f3176f</integer>
	<integer>0x5cffa644</integer>
	<integer>0x18bac7c5</integer>
	<integer>0x43548302</integer>
	<integer>0xad1cb2e5</integer>
	<integer>0x421b5e75</integer>
	<integer>0x65fbcb06</integer>
	<integer>0x5be2ac08</integer>
	<integer>0x2ea5dc47</integer>
	<integer>0x904c5c6a</integer>
	<integer>0x4434700a</integer>
	<integer>0x5518fdbb</integer>
	<integer>0x4239236b</integer>
	<integer>0x328f7562</integer>
	<integer>0xb82d3a93</integer>
	<integer>0x5775a3fa</integer>
	<integer>0xcf867320</integer>
	<integer>0x0c177f96</integer>
	<integer>0xc2619c3b</integer>
	<integer>0x5cffb8fa</integer>
	<integer>0x62f4a285</integer>
	<integer>0x535d00c6</integer>
	<integer>0xc654c255</integer>
	<integer>0x6b96272a</integer>
	<integer>0x3e7a8a82</integer>
	<integer>0x47ca5560</integer>
	<integer>0x95d2a13e</integer>
	<integer>0x51aa9b85</integer>
	<integer>0x904c64c5</integer>
	<integer>0x0522b2dc</integer>
	<integer>0x5b79ec52</integer>
	<integer>0x58b15dc4</integer>
	<integer>0x5224cfa3</integer>
	<integer>0x68ec9d80</integer>
	<integer>0xa2ff74c4</integer>
	<integer>0xd8378f9a</integer>
	<integer>0xb0c2212c</integer>
	<integer>0x5ef2e5db</integer>
	<integer>0x54189e0e</integer>
	<integer>0x60205321</integer>
	<integer>0x6c338e5e</integer>
	<integer>0x51d9b938</integer>
	<integer>0x6dec552a</integer>
	<integer>0x6883badc</integer>
	<integer>0x787e1047</integer>
	<integer>0x4a5a55cc</integer>
	<integer>0x6cc21251</integer>
	<integer>0x5b797590</integer>
	<integer>0xb01f35fd</integer>
	<integer>0xa2d8109e</integer>
	<integer>0x68ade4f9</integer>
	<integer>0xb009714b</integer>
	<integer>0x25bb9b8f</integer>
	<integer>0x0e12f3f9</integer>
	<integer>0x47398d75</integer>
	<integer>0x4a6d7651</integer>
	<integer>0xb0094f68</integer>
	<integer>0xcb4a793f</integer>
	<integer>0xb0094129</integer>
	<integer>0x1b785b0c</integer>
	<integer>0xc1e90838</integer>
	<integer>0x46ade96b</integer>
	<integer>0x592d9f2a</integer>
	<integer>0x6c1853fe</integer>
</array>
</plist>
